%h1
  Recent Meetups
%section.meetup
  %h2
    %time(datetime="2010-11-04T19:30+01:00") Thursday, November 4th, 2010, 19:30
  %ul.talks
    %li
      %blockquote Riak Search
      .speaker
        %img(src="http://a2.twimg.com/profile_images/409867738/seancribbs-square_bigger.jpg")
        %a.name(href="http://seancribbs.com/") Sean Cribbs
        %a.twitter(href="http://twitter.com/seancribbs") Twitter
        %a.github(href="https://github.com/seancribbs") GitHub
      %ul.links
        %li
          %a(href="#") View slides
        %li
          %a(href="https://wiki.basho.com/display/RIAK/Riak") Wiki
    %li
      %blockquote Writing a library from scratch
      .speaker
        %img(src="http://a3.twimg.com/profile_images/326153315/twitterProfilePhoto_bigger.jpg")
        %a.name(href="http://kronn.de/weblog/") Matthias Vieweger
        %a.twitter(href="http://twitter.com/der_kronn") Twitter
        %a.github(href="https://github.com/kronn") GitHub
      %ul.links
        %li
          %a(href="#") View slides
%section.meetup
  %h2
    %time(datetime="2010-11-04T19:30+01:00") Thursday, November 4th, 2010, 19:30
  %ul.talks
    %li
      %blockquote Riak Search
      .speaker
        %img(src="http://a2.twimg.com/profile_images/409867738/seancribbs-square_bigger.jpg")
        %a.name(href="http://seancribbs.com/") Sean Cribbs
        %a.twitter(href="http://twitter.com/seancribbs") Twitter
        %a.github(href="https://github.com/seancribbs") GitHub
      %ul.links
        %li
          %a(href="#") View slides
        %li
          %a(href="https://wiki.basho.com/display/RIAK/Riak") Wiki
    %li
      %blockquote Writing a library from scratch
      .speaker
        %img(src="http://a3.twimg.com/profile_images/326153315/twitterProfilePhoto_bigger.jpg")
        %a.name(href="http://kronn.de/weblog/") Matthias Vieweger
        %a.twitter(href="http://twitter.com/der_kronn") Twitter
        %a.github(href="https://github.com/kronn") GitHub
      %ul.links
        %li
          %a(href="#") View slides
%section.meetup
  %h2
    %time(datetime="2010-11-04T19:30+01:00") Thursday, November 4th, 2010, 19:30
  %ul.talks
    %li
      %blockquote Riak Search
      .speaker
        %img(src="http://a2.twimg.com/profile_images/409867738/seancribbs-square_bigger.jpg")
        %a.name(href="http://seancribbs.com/") Sean Cribbs
        %a.twitter(href="http://twitter.com/seancribbs") Twitter
        %a.github(href="https://github.com/seancribbs") GitHub
      %ul.links
        %li
          %a(href="#") View slides
        %li
          %a(href="https://wiki.basho.com/display/RIAK/Riak") Wiki
    %li
      %blockquote Writing a library from scratch
      .speaker
        %img(src="http://a3.twimg.com/profile_images/326153315/twitterProfilePhoto_bigger.jpg")
        %a.name(href="http://kronn.de/weblog/") Matthias Vieweger
        %a.twitter(href="http://twitter.com/der_kronn") Twitter
        %a.github(href="https://github.com/kronn") GitHub
      %ul.links
        %li
          %a(href="#") View slides
     