// Frameworks

@import "compass";
@import "html5-boilerplate";

// External plugins e. g. jQuery plugins

//@import "vendor/plugin-name";

// Base colors and sizes

$primary-color: #C42828;
$secondary-color: #D65A5C;
$border-color: lighten(#D65A5C, 25%);
$font-color: #5C130C;
$link-color: #6B130F;
$link-hover-color: darken($link-color, 15%);

$base-font-family: "helvetica neue", helvetica, arial, sans-serif;
$headline-font-family: "r6d8-1", "r6d8-2", helvetica, arial, sans-serif;
$headline-font-family: "league-gothic-1", "league-gothic-2", helvetica, arial, sans-serif;
$subheadline-font-family: "olidia-1", "olidia-2", helvetica, arial, sans-serif;
$subheadline-font-family: "jbt-annabelle-1", "jbt-annabelle-2", helvetica, arial, sans-serif;
$small-font-size: 11px;
$base-font-size: 13px;
$large-font-size: 30px;
$x-large-font-size: 44px;
$base-line-height: 1.231;

// HTML5 boilerplate

@include html5-boilerplate;

// Global styles used all over the website
// e. g. tags without classes like h1, h2, a, button, form elements, ...

@import "global/extendables";
@import "global/typography";
@import "global/links";
@import "global/buttons";

// Layout (header, footer, global sidebars)

@import "layouts/default";

// Content partials (article, lists, ...)

@import "partials/meetups";
@import "partials/feeds";
