.area {
  background: $secondary-color;
  background: rgba(white, .8);
  @include box-shadow($secondary-color 0 0 2px);
  @include border-radius(2px);
}

.white-area {
  background: white;
  @include box-shadow(white 0 0 2px);
  @include border-radius(2px);
}

.clearfix {
  @include clearfix;
}