.base-font {
  font-family: $base-font-family;
}

.headline-font {
  font-family: $headline-font-family;
  text-transform: uppercase;
}

.subheadline-font {
  @extend .normal;
  font-family: $subheadline-font-family;
  text-transform: none;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.xl {
  line-height: 40px;
  @include font-size($x-large-font-size);
}

.l {
  line-height: 30px;
  @include font-size($large-font-size);
}

.m {
  line-height: 20px;
  @include font-size($base-font-size);
}

.s {
  line-height: 20px;
  @include font-size($small-font-size);
}

.paragraph {
  @extend .base-font;
  @extend .m;
  margin: 1em 0;
}

.headline {
  @extend .headline-font;
  @extend .bold; 
  margin: 1em 0;
}

.centered {
  text-align: center;
}

body {
  @include font-smoothing;
}

strong,
em {
  @extend .bold;
}

p {
  @extend .paragraph;
}

h1 {
  @extend .headline;
  @extend .xl;
  @extend .centered;
  @include text-shadow(rgba($secondary-color, .3) 0 1px 1px);
  small {
    @extend .subheadline-font;
    color: darken($primary-color, 15%);
    display: block;
    font-size: 50%;
    margin-bottom: -10px;
    @include text-shadow(rgba($secondary-color, .6) 0 1px 1px);
  }
}

h2,
legend {
  @extend .headline;
  @extend .l;
  @extend .centered;
  small {
    @extend .subheadline-font;
    @extend .base-font;
    color: darken($primary-color, 10%);
    display: block;
    font-size: 67%;
    margin-bottom: -5px;
  }
}

h3,
h4 {
  @extend .m;
}

article {
  ol,
  ul {
    @extend .paragraph;
  }
}

address {
  font-style: normal;
}
