html {
  background: $primary-color image-url("background.png") repeat-y;
  height: 100%;
}

body {
  @extend .clearfix;
  background: image-url("tv-tower.jpg") no-repeat fixed;
  min-height: 100%;
  padding-bottom: 40px;
}

#page {
  @extend .clearfix;
  margin: 0 auto;
  width: 800px;
}

#content {
  @extend .clearfix;
  background: rgba(white, .5);
  padding: 20px 80px 40px;
  @include border-radius(4px);
}

header {
  @extend .clearfix;
  margin-bottom: 20px;
  padding: 0 80px;
  a {
    float: left;
    margin: 5px;
    padding: 3px 10px;
    @include text-shadow(rgba(white, .3) 0 1px 1px);
    &.selected {
      @extend .area;
    }
    &[href^="http"] {
      float: right;
    }
  }
}